


<footer>
    <div class="f-info">
        <div class="f-info-socials social-media">
           <a href="https://www.facebook.com/Ashish.Dhakad.927"><i class="fa-brands fa-square-facebook"></i></a> 
           <a href="https://www.instagram.com/mr__dhakad444/"><i class="fa-brands fa-square-instagram"></i> </a>
            <a href="https://www.linkedin.com/in/ashish-dhakad-513706283/"><i class="fa-brands fa-linkedin"></i> </a>
        </div>
        <div class="f-info-brand">&copy; Wandalust Private Limited</div>

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>