<%= layout("/layouts/boilerplate") %>

<div class="row mt-3">
    
    <h2 class="col-6 offset-3">SignUp page for wnaderlust</h2>

    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation" novalidate>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" required type="text" placeholder="enter username here..."  class="form-control">   
                <div  class="invalid-feedback"> Please enter valid username </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" id="email" required type="email" placeholder="enter email here..."  class="form-control">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" required type="password" placeholder="enter password here..."  class="form-control">
            </div>
               
             <button class="btn btn-success" >SignUp</button>
        </form>
    </div>
</div>